// Institucionales
$green-threegify: #07f9a2;
$green-button: #0a8967;
$green-button-hover: #007a59;
$blue-threegify: #2091F9;
$gray: #828282;
$gray_hovered: #5e5e5e;
$green-form: #0c5149;
$rojo: #9b3636;
$rojo-hover: #9f2828;
$dark: #222;
$darkdisabled: #222222be;
$blue: #0f00b2;
$white: #f2f2f2;
$light: #e6e8e8;
$lightdisabled: #e6e8e85b;
$lightdisabledhover: #b5b6b65b;
$bluedisabled:#0d192bc6;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$font_text: 'Open Sans', sans-serif;
